.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.embedded-video {
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.no-videos {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    font-size: 24px;
}

.filter-button-container {
    width: 100%;
    text-align: center;
}

li.video-label {
    padding-top: 5px;
}